
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
Aplikacija o studentima
<br />
Fakultet:@ViewBag.Fakultet
<br />
<br />
Popis Studenata @Html.ActionLink("link","Popis")

